<div class="footer">

    <div class="footer-left">
               
        <a href="http://www.prodepa.pa.gov.br" title="PRODEPA" target="_blank">
            <span class="footer-prodepa-logo img-fluid img-rounded"></span>
        </a>
        &nbsp;
        <a href="http://www.pa.gov.br/" title="PRODEPA" target="_blank">
            <span class="footer-pa-logo img-fluid img-rounded"></span>
        </a>
        
    </div>

    <div class="footer-right">
        <b><strong>Copyright &copy; 2017</strong></b>
          &nbsp;
        <b>Versão</b> {{version}}
    </div>
 
</div>
