/* ==========================================================================
Footer page styles
========================================================================== */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
  padding: 0 10px;   
}

.footer-prodepa-logo {
    display: inline-block;
    width: 100px;
    height: 15px;
    background: url("../../../content/images/selo_prodepa.gif") no-repeat center top;
    background-size: contain;
}

.footer-pa-logo {
    display: inline-block;
    width: 100px;
    height: 15px;
    background: url("../../../content/images/selo_pa.png") no-repeat center;
    background-size: contain;
} 

.footer-left {
    float: left;
}

.footer-right {
    float: right;
    font-size: 0.7em;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .footer-left {
        width: 100%;
        text-align: center;
    }

    .footer-right {
        width: 100%;
        text-align: center;
        font-size: 0.7em;
    }

}