
<div *ngIf="dashboardItem">
    <h2><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.detail.title">Dashboard Item</span> {{dashboardItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.name">Name</span></dt>
        <dd>
            <span>{{dashboardItem.name}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.shortName">Short Name</span></dt>
        <dd>
            <span>{{dashboardItem.shortName}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.description">Description</span></dt>
        <dd>
            <span>{{dashboardItem.description}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.order">Order</span></dt>
        <dd>
            <span>{{dashboardItem.order}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.iconName">Icon Name</span></dt>
        <dd>
            <span>{{dashboardItem.iconName}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.iconColor">Icon Color</span></dt>
        <dd>
            <span>{{dashboardItem.iconColor}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.backgroundColor">Background Color</span></dt>
        <dd>
            <span>{{dashboardItem.backgroundColor}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dashboard-item/'+ dashboardItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
