<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDashboardItemLabel" jhiTranslate="gestaoFinanceiraApp.dashboardItem.home.createOrEditLabel">Create or edit a Dashboard Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dashboardItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dashboardItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.dashboardItem.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="dashboardItem.name"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.dashboardItem.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                [(ngModel)]="dashboardItem.shortName"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.dashboardItem.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="dashboardItem.description"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.dashboardItem.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="dashboardItem.order"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.dashboardItem.iconName" for="field_iconName">Icon Name</label>
            <input type="text" class="form-control" name="iconName" id="field_iconName"
                [(ngModel)]="dashboardItem.iconName"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.dashboardItem.iconColor" for="field_iconColor">Icon Color</label>
            <input type="text" class="form-control" name="iconColor" id="field_iconColor"
                [(ngModel)]="dashboardItem.iconColor"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.dashboardItem.backgroundColor" for="field_backgroundColor">Background Color</label>
            <input type="text" class="form-control" name="backgroundColor" id="field_backgroundColor"
                [(ngModel)]="dashboardItem.backgroundColor"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
