<div>
    <h2>
        <span jhiTranslate="gestaoFinanceiraApp.dashboardItem.home.title">Dashboard Items</span>
        <button class="btn btn-primary float-right create-dashboard-item" [routerLink]="['/', { outlets: { popup: ['dashboard-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gestaoFinanceiraApp.dashboardItem.home.createLabel">
            Create new Dashboard Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dashboardItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.name">Name</span></th>
            <th><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.shortName">Short Name</span></th>
            <th><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.description">Description</span></th>
            <th><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.order">Order</span></th>
            <th><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.iconName">Icon Name</span></th>
            <th><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.iconColor">Icon Color</span></th>
            <th><span jhiTranslate="gestaoFinanceiraApp.dashboardItem.backgroundColor">Background Color</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dashboardItem of dashboardItems ;trackBy: trackId">
                <td><a [routerLink]="['../dashboard-item', dashboardItem.id ]">{{dashboardItem.id}}</a></td>
                <td>{{dashboardItem.name}}</td>
                <td>{{dashboardItem.shortName}}</td>
                <td>{{dashboardItem.description}}</td>
                <td>{{dashboardItem.order}}</td>
                <td>{{dashboardItem.iconName}}</td>
                <td>{{dashboardItem.iconColor}}</td>
                <td>{{dashboardItem.backgroundColor}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dashboard-item', dashboardItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dashboard-item/'+ dashboardItem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dashboard-item/'+ dashboardItem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
