<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmpenhoLabel" jhiTranslate="gestaoFinanceiraApp.empenho.home.createOrEditLabel">Create or edit a Dashboard Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!empenho.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="empenho.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.empenho.data" for="field_data">Data</label>
            <input type="text" class="form-control" name="data" id="field_data"
                [(ngModel)]="empenho.data"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.empenho.numero" for="field_numero">Numerp</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                [(ngModel)]="empenho.numero"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.empenho.unidadeGestora" for="field_unidadeGestora">unidadeGestora</label>
            <input type="text" class="form-control" name="unidadeGestora" id="field_unidadeGestora"
                [(ngModel)]="empenho.unidadeGestora"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.empenho.gestao" for="field_gestao">gestao</label>
            <input type="number" class="form-control" name="gestao" id="field_gestao"
                [(ngModel)]="empenho.gestao"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestaoFinanceiraApp.empenho.valor" for="field_valor">Icon Name</label>
            <input type="text" class="form-control" name="valor" id="field_valor"
                [(ngModel)]="empenho.valor"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
