
<div *ngIf="empenho">
    <h2><span jhiTranslate="gestaoFinanceiraApp.empenho.detail.title">Dashboard Item</span> {{empenho.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gestaoFinanceiraApp.empenho.numero">Numero</span></dt>
        <dd>
            <span>{{empenho.numero}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.empenho.data">Data</span></dt>
        <dd>
            <span>{{empenho.data | date:long}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.empenho.unidadeGestora">unidadeGestora</span></dt>
        <dd>
            <span>{{empenho.idUnidadeGestora}} - {{empenho.unidadeGestora}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.empenho.gestao">gestao</span></dt>
        <dd>
            <span>{{empenho.idGestao}} - {{empenho.gestao}}</span>
        </dd>
        <dt><span jhiTranslate="gestaoFinanceiraApp.empenho.valor">Valor</span></dt>
        <dd>
            <span>{{empenho.valor}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dashboard-item/'+ empenho.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
