<div>
    <h2>
        <span jhiTranslate="gestaoFinanceiraApp.empenho.home.title">Empenhos</span>
        <button class="btn btn-primary float-right create-dashboard-item" [routerLink]="['/', { outlets: { popup: ['empenho-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gestaoFinanceiraApp.empenho.home.createLabel">
                Create new Empenho
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row"></div>
    <br/>
    <div class="table-responsive" *ngIf="empenhos">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="gestaoFinanceiraApp.empenho.data">Data</span></th>
                <th><span jhiTranslate="gestaoFinanceiraApp.empenho.numero">Numero</span></th>
                <th><span jhiTranslate="gestaoFinanceiraApp.empenho.unidadeGestora">Unidade Gestora</span></th>
                <th><span jhiTranslate="gestaoFinanceiraApp.empenho.gestao">Gestao</span></th>
                <th><span jhiTranslate="gestaoFinanceiraApp.empenho.valor">Valor</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empenho of empenhos ;trackBy: trackId">
                <td><a [routerLink]="['../empenho', empenho.id ]">{{empenho.id}}</a></td>
                <td>{{empenho.data | date:mediun}}</td>
                <td>{{empenho.numero}}</td>
                <td>{{empenho.unidadeGestora}}</td>
                <td>{{empenho.gestao}}</td>
                <td>{{empenho.valor}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../empenho', empenho.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'empenho/'+ empenho.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'empenho/'+ empenho.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
