/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}



/* ==========================================================================
Dashboard UC
========================================================================== */
.dashboard {
    /*background-color:#CCCCCC;*/
    background-color: #dddddd;
    border-color: #a1a1a1;
    color: #a1a1a1;
    padding: 20px;
    width: 100%;
}

.dashboardBox {
    background-color:gray;
    text-align: center;
    padding: 10px;
}

.dashboardItem {
    background-color: #6ba96b;
}