<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <div [ngSwitch]="isAuthenticated()">
            
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> 
                    You are logged in as user "{{account.login}}".
                </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" href="/governodigital" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

        </div>

        <div class="container dashboard" *ngIf="isAuthenticated()" >
            <!-- Example row of columns -->
            <div class="row">
                
                <div *ngFor="let dashboardItem of dashboardItems ;trackBy: trackId" class="col-md-4">
                    <!--<div class="dashboardItem">
                        <h3>{{dashboardItem.name}}</h3>
                        <p><small>Uma Aplicacao de Emprenho</small></p>
                        <p><a class="btn btn-secondary" href="#" role="button" jhiTranslate="gestaoFinanceiraApp.dashboardItem.buttons.go">View</a></p>
                    </div>-->

                    <a href="{{dashboardItem.name}}" class="info-box" style="padding: 0px" ng-class="btn-success">
                        <span class="info-box-icon {{dashboardItem.backgroundColor}}">
                            <i class="{{dashboardItem.iconName}}"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">{{dashboardItem.shortName}}</span>
                            <span class="info-box-text extra-small"><small>{{dashboardItem.name}}</small></span>
                        </div>
                    </a>

                </div>
                
            </div>

        </div>  
    
    </div>
</div>
